    *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
    }


/* Header */
header {
    text-align: center;
    padding: 40px;
    background: #0077b6;
    color: white;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

/* Offer Cards */
.offers {
    height: 400px;
    width: 100vw;
    display: grid;
    margin-right: 40px;
    /* border: 2px solid black; */
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px;
}

.card {
    height: 300px;
    width: 250px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    /* margin-right: 20px; */
}

.card img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

.card h3 {
    margin: 10px 0 5px;
}

.price {
    display: inline-block;
    margin-top: 8px;
    font-size: 22px;
    font-weight: bold;
    color: #0077b6;
}

/* Video Section */
.video-section {
    padding: 40px;
    text-align: center;
    background: #e9f5ff;
}

.video-box {
    margin-top: 20px;
}

/* Categories */
footer {
    padding: 40px;
    background: #222;
    color: white;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 15px;
    justify-content: center;
    padding: 0;
}

.categories li {
    background: #444;
    padding: 10px 15px;
    border-radius: 5px;
}
.box1{
    height: 315px;
    width: 100%;
}
.box1 img{

    height: 100%;
    width: 100%;
    object-fit: cover;
}
section{
    height: 500px;
    width: 100vw;
    /* border: 2px solid black; */
    display: flex;
    margin-top: 100px;
}
.left{
    height: 105%;
    width: 70%;
    border-radius: 30px;
    margin-left: 20px;
    /* border: 2px solid black; */
}
.left img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.right{
      height: 100%;
    width: 60%;
    /* border: 2px solid black; */
}
.container{
    height: auto;
    width: 100vw;
    /* border: 2px solid black ; */
}

 .BOXRIGHT{
        width: 800px;
        height: 500px;
        background-color: white;
        margin-right: 200px;   /* RIGHT se thora space */
        /* margin-top: 20px; */
        /* padding: 20px; */
        color: white;
        border-radius: 8px;
           
}

.classlist{
    height: 30px;
}

